.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.todoHeaderTitle{
    font-size: 2rem;
    color: #c87705;
}
.todoHeaderContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.todoListContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.listContainer{
    flex: 1;
}
.todos__heading{
    width: 100%;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    background-color: red;
}
