node_modules
**/*.js
**/*.d.ts
**/*.d.ts.map
**/*.js.map
!jest.config.js
!.eslint.config.js
!.babel.config.js
!.eslintrc.json
!publish.js
.idea
lib
.DS_Store
build
.docusaurus
.yarn/*
.eslintcache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarnrc.yml
