node_modules
**/*.js
**/*.d.ts
**/*.d.ts.map
**/*.js.map
*.tsbuildinfo
!.eslint.config.js
!.babel.config.js
!.eslintrc.json
!publish.js
.idea
lib
.DS_Store
build
.docusaurus
.yarn/*
.eslintcache
!babel.config.js
!jest.config.js
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarnrc.yml
