node_modules
src/**/*.js
src/**/*.js.map
!jest.config.js
!.eslintrc.json
!publish.js
.idea
lib
.DS_Store
build
.docusaurus
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarnrc.yml
