@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #002e60;
  font-family: 'Neucha', cursive;
}
