name: build package
on:
  pull_request:
    branches:
      - main
      - "release/**"
    types:
      - opened
      - synchronize
      - reopened
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: self-hosted-webapp-gcs-cache
    steps:
      - name: Configure github
        run: |
          git config --global user.email "fc-bot@fancode.com"
          git config --global user.name "fc-bot"

      - run: echo "Running on branch | base branch - ${{github.base_ref}} | head branch - ${{github.head_ref}}"

      - name: Checkout branch
        uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: 22.9.0

      - name: Enable Corepack
        run: corepack enable

      - name: Installing dependencies
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: yarn install --immutable

      - name: Running lint
        run: |
          yarn lint

      - name: Running prettier
        run: |
          yarn prettier-check

      - name: Running tests & coverage
        run: yarn test --logHeapUsage --silent --runInBand --ci

      - name: Check for changesets
        run: yarn changeset-status
